---
---
<!-- _layouts/bib.html -->
<div id="{{entry.key}}" class="col-sm-9">
  {% if entry.type == "thesis" -%}
  {{reference}}
  {%- else %}
  <!-- Title -->
  <div class="title">{{entry.title}}</div>
  <!-- Author -->
  <div class="author">
    {% assign author_array_size = entry.author_array | size %}

    {% assign author_array_limit = author_array_size %}
    {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
    {% assign author_array_limit = site.max_author_limit %}
    {% endif %}

    {%- for author in entry.author_array limit: author_array_limit -%}
    {%- assign author_is_self = false -%}
    {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
    {%- if site.scholar.last_name contains author_last_name -%}
    {%- if site.scholar.first_name contains author.first -%}
    {%- assign author_is_self = true -%}
    {%- endif -%}
    {%- endif -%}
    {%- assign coauthor_url = nil -%}
    {%- if site.data.coauthors[author_last_name] -%}
    {%- for coauthor in site.data.coauthors[author_last_name] -%}
    {%- if coauthor.firstname contains author.first -%}
    {%- assign coauthor_url = coauthor.url -%}
    {%- break -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

    {%- if forloop.length > 1 -%}
    {%- if forloop.first == false -%},&nbsp;{%- endif -%}
    {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
    {%- endif -%}
    {%- if author_is_self -%}
    <em>{{author.first}} {{author.last}}</em>
    {%- else -%}
    {%- if coauthor_url -%}
    <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
    {%- else -%}
    {{author.first}} {{author.last}}
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    {%- assign more_authors = author_array_size | minus: author_array_limit -%}

    {%- assign more_authors_hide = more_authors | append: " more author" -%}
    {%- if more_authors > 0 -%}
    {%- if more_authors > 1 -%}
    {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
    {%- endif -%}
    {%- assign more_authors_show = '' -%}
    {%- for author in entry.author_array offset: author_array_limit -%}
    {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
    {%- unless forloop.last -%}
    {%- assign more_authors_show = more_authors_show | append: ", " -%}
    {%- endunless -%}
    {%- endfor -%}
    , and
    <span class="more-authors" title="click to view {{more_authors_hide}}" onclick="
                  var element = $(this);
                  element.attr('title', '');
                  var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                  var cursorPosition = 0;
                  var textAdder = setInterval(function(){
                    element.text(more_authors_text.substring(0, cursorPosition + 1));
                    if (++cursorPosition == more_authors_text.length){
                      clearInterval(textAdder);
                    }
                }, '{{site.more_authors_animation_delay}}');
                ">{{more_authors_hide}}</span>
    {%- endif -%}

  </div>

  <!-- Journal/Book title and date -->
  {% assign proceedings = "inproceedings, incollection" | split: ','%}
  {% if entry.type == "article" -%}
  {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
  {%- elsif proceedings contains entry.type -%}
  {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
  {%- else -%}
  {%- capture entrytype -%}{%- endcapture -%}
  {%- endif -%}
  {%- if entry.month -%}
  {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
  {%- endif -%}
  {%- if entry.year -%}
  {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
  {%- endif -%}
  {%- capture periodical -%}{{ entrytype }}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
  <div class="periodical">
    {{ periodical | strip }}
  </div>
  {%- endif %}

  <!-- Links/Buttons -->
  {% assign publication_path = '/' | prepend: entry.key | prepend: '/' | prepend: entry.year | prepend:
  '/assets/documents/publications/' %}
  {% assign publication_path_url = publication_path | prepend: site.baseurl | prepend: site.url %}

  <div class="links">
    {% for static_file in site.static_files %}
    {% assign paper_path = '.paper.pdf' | prepend: entry.key | prepend: publication_path %}
    {% if static_file.path == paper_path %}
    <a href="{{ '.paper.pdf' | prepend: entry.key | prepend: publication_path_url }}" target="_blank"
      class="abstract btn btn-sm z-depth-0" role="button">
      paper
    </a>
    {% endif %}
    {% endfor %}


    {% for static_file in site.static_files %}
    {% assign appendix_path = '.appendix.pdf' | prepend: entry.key | prepend: publication_path %}
    {% if static_file.path == appendix_path %}
    <a href="{{ '.appendix.pdf' | prepend: entry.key | prepend: publication_path_url }}" target="_blank"
      class="abstract btn btn-sm z-depth-0" role="button">
      appendix
    </a>
    {% endif %}
    {% endfor %}


    {%- if entry.url %}
    <a href="{{entry.url}}" class="btn btn-sm z-depth-0" role="button">link</a>
    {%- endif %}

    {%- if entry.website %}
    <a href="{{entry.website}}" class="btn btn-sm z-depth-0" role="button">link</a>
    {%- endif %}

    {%- if entry.arxiv %}
    <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arxiv</a>
    {%- endif %}

    <a class="bibtex btn btn-sm z-depth-0" role="button">bibtex</a>

  </div>




  <div class="bibtex hidden">
    <div class="bibtex-content">
      {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
    </div>
    <!-- Copy icon within the dropdown -->
    <!-- <i class="fas fa-copy" id="copyIcon"></i> -->
  </div>
</div>



